
.eslintcache
.prettierrc.js
.github
tsconfig.json
tsup.config.ts
yarn.lock
bun.lockb
package-lock.json
src
./src
./src/*
script
./script
./script/*
tests
node_modules
test.ts
.DS_Store
.prettierignore
.prettierrc
jest.config.js
.npmignore
.gitattributes
.gitignoresrc/
*.ts
*.config.*
.eslintrc
jest.config.*